/* Global styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.divide {
  color: var(--dark-color);
  opacity: 0.5;
}

/* Text Styles*/
.x-large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.large {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.secondary-text {
  color: gray;
  font-size: 0.8rem;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--primary-color);
}

/* Padding */
.p {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.py {
  padding: 0.5rem 0;
}
.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}

/* Margin */
.m {
  margin: 0.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.my {
  margin: 0.5rem 0;
}
.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  text-transform: uppercase;
}

.btn-primary,
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

/* Forms */
form .form-group {
  margin: 1.2rem 0;
  display: flex;
  justify-content: space-between;
}

.disposition .form-group:nth-child(2) {
  margin: 1.2rem 0 0 0;
}

.disposition .form-group:nth-child(2) input:first-child {
  order: 2;
}

form {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

form input[type='text'] {
  display: block;
  width: 100%;
  padding: 0.4rem;
  margin-right: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

form input[type='submit'],
button {
  font: inherit;
}

.card {
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1.5px 1.5px 4px 1px #ccc;
}

pre {
  padding: 0.6rem;
  border-radius: 5px;
  display: block;
  opacity: 0.9;
  margin-top: 0.5rem;
  overflow-x: auto;
}

footer .container {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social {
  display: flex;
  justify-content: center;
}

.social a img {
  width: 3rem;
  margin-right: 0.5rem;
}

.social a {
  transition: opacity 0.2s ease-in;
}

.social a:hover {
  opacity: 0.8;
}

footer .lead {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

/* Mobile devices */
@media (max-width: 700px) {
  form .form-group {
    display: block;
  }

  .disposition .form-group {
    margin: 0;
  }

  .disposition .form-group:nth-child(2) {
    margin: 0;
  }

  .disposition .form-group:nth-child(2) input:last-child {
    margin: 0;
  }

  form input[type='text'] {
    margin: 0 0 0.8rem 0;
  }

  /* Text Styles*/
  .x-large {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }

  .large {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .lead {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
}
